.grid{
   width: 97%;
   height:auto;
   display: grid;
   grid-template: 300px 300px / 1fr  1fr 1fr ;  
   
}
.one{
    
    grid-row: 1;
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(4, 236, 236);
    color: #fff;
    
}
.two{
    grid-row: 2/4;
    grid-column: 1/4;
   background: black;
     display: flex;
     justify-content: center;
     align-items: center;
}
.all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    border: 1px solid black;
    
    
}
.title{
    font-size: 19px;
}
.text0{
    margin: 0;
    padding: 0;
}
.box{
    width: 36%;
    height: 19px;
    min-height: 19px;
    margin: 6px;
   

}


.box1{
    background: rgb(3, 153, 223);
}
.box2{
    background: rgb(236, 114, 69);
}
.box3{
   background:rgb(4, 236, 236)
}


 @media (max-width: 576px) { 
     
     .one{
        background: rgb(49, 78, 206);
        text-align: center;
        border: 1px solid black ;
        border-radius: 15px;
        font-size: 1rem;
     }
     
     .two{
        display: flex; 
        flex-direction: column ;
        background: transparent;
        border-radius: 15px; 
        grid-gap: 10px  
     }
     .all{
         text-align: center;
         border-radius: 15px;
         background: rgb(180, 205, 226);  
         margin: 2px;
         color: black;
         
     }
     .title{
         color: indigo;
         margin: 5px;
     } 
  } 
  @media (min-width: 992px) { 
    .one{
        background: rgb(5, 156, 93);
     }
 } 